# prod
dist/

# dev
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
.idea/deployment.xml
.idea/go.imports.xml
.idea/inspectionProfiles/

# deps
node_modules/
.wrangler

# env
.env
.env.production
.dev.vars

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
WORK_LOG.md
WORK_LOG_KO.md
